p {
    border-radius: 5px;
    padding: 5px;
}

div {
    max-width: 30%;
    padding: 5px;
}

.box1, .box2, .box3{
    position: relative;
    display: flex;
    background-color: rgb(132, 52, 156, .5);
}

.donate, .volunteer, .location{
    color: white;
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

iframe {
    height: 100%;
}

